.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    }

p{
    margin-right: 5%;
   
}

h5{
    margin-left: 6%;
  
}

label {
    display: block;
    font:
      1rem 'Fira Sans',
  }
  
  input, label {
    height: 20px;
  }


  .search{
    height: 20px;
  }

  ul{
   display: flex;
   justify-content: space-between;
   background-color: #ffc700;
  font-size:25px;
  font-weight:bolder;
 list-style: none;
  height: 9vh
}

.all{
   background-color:#35404e; 
   color: azure;
}

.car{
  display: flex;
  gap: 10px;
}

aside{
 column-gap:20px;
}
aside , p{
  text-align: center;
  font-weight: bolder;
  font-size: 17px;
}




.container{
  display: flex;
  justify-content: center;
  column-gap:   250px;
  color: white;
}



.icons1{
  height: 100px;
  width: 150px;
  background-color: rgb(16, 59, 73);
  border-radius: 9%;
  padding: 1%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:xx-large;
}
.icons2{
  height: 100px;
  width: 120px;
  background-color: rgb(16, 59, 73);
  border-radius: 9%;
  padding: 1%;
  font-family: sans-serif;
  font-size: 20px;
  
}

.icons3{
  height: 100px;
  width: 120px;
  background-color: rgb(16, 59, 73);
  border-radius: 9%;
  padding: 1%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.icons4{
  height: 100px;
  width: 120px;
  background-color: rgb(16, 59, 73);
  border-radius: 9%;
  padding: 1%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

  








