.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    }

p{
    margin-right: 5%;
   
}

h5{
    margin-left: 6%;
  
}

label {
    display: block;
    font:
      1rem 'Fira Sans',
  }
  
  input,
  label {
    height: 20px;
  }


  .search{
    height: 20px;
  }

  ul{
   display: flex;
   justify-content: space-between;
   background-color: #ffc700;
  font-size:25px;
  font-weight:bolder;
 list-style: none;
  height: 9vh
}

.all{
   background-color:#35404e; 
   color: azure;
}

.car{
  display: flex;
  gap: 10px;
}

aside{
 column-gap:20px;
}
aside , p{
  text-align: center;
  font-weight: bolder;
  font-size: 17px;
}

